[Unit]
Description=Metricbeat
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
ExecStart=/usr/sbin/metricbeat -c /etc/beats/metricbeat.yaml run

[Install]
WantedBy=multi-user.target
