[Unit]
Description=gsmMux serial port multiplexer

Before=network-pre.target
Wants=network-pre.target

DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/sbin/gsmMuxd -p /dev/serial0 -b 115200 -s /dev/fona -w -r /dev/ptmx /dev/ptmx /dev/ptmx /dev/ptmx

[Install]
WantedBy=network.target
