[Unit]
Description=Trackme telemetry service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
ExecStart=/usr/bin/python3 -m trackme.app /dev/fona1 /var/trackme

[Install]
WantedBy=multi-user.target
